.toolbar-bar .toolbar-icon-moderation-sidebar:before {
  background-image: url(../images/icon.png);
}

.moderation-sidebar-actions {

}

.ui-dialog-offcanvas .moderation-sidebar-link,
.ui-dialog-offcanvas .moderation-sidebar-link:visited,
.ui-dialog-offcanvas .moderation-sidebar-link.button {
  display: block;
  margin: 0 0 8px 0;
  padding: 10px 0 10px 0;
  color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 0;
  border-radius: 2px;
  text-align: center;
}

.ui-dialog-offcanvas .moderation-sidebar-link:hover {
  color: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 1px 6px rgba(0,0,0,0.22);
}

.quick-moderation-form select {
  width: 100%;
  height: 30px;
}

.moderation-sidebar-info {
  margin-bottom: 10px;
}

.ui-dialog-offcanvas .moderation-sidebar-info h2 {
  font-size: 16px;
}

.ui-dialog-offcanvas .moderation-sidebar-info p {
  margin-bottom: .5em;
}
